<!-- -*- mode: XML -*- -->

<launch>
  <!-- This launchfile should bring up a node that broadcasts a ros image
       transport on /decklink/image_raw from the input channel of a BlackMagic
       DeckLink SDI capture card-->

  <!-- DeckLink config, run $ gst-inspect decklinksrc to see all the options for your card -->
  <arg name="camera_name" default="camera"/>
  <arg name="connection" default="sdi"/>
  <arg name="device" default="0"/>
  <arg name="crop_top" default="0"/>
  <arg name="crop_left" default="0"/>
  <arg name="crop_bottom" default="0"/>
  <arg name="crop_right" default="0"/>
  <arg name="camera_info_file" default="file:////home/jbarrag3/research_juan/hand_eye_collect/data_ros_calib/stereo_calib1/left.yaml"/>

  <node ns="decklink" name="$(arg camera_name)" pkg="gscam" type="gscam" output="screen">
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="camera_info_url" value="$(arg camera_info_file)"/>
    <!-- Deinterlacing filter if needed: ! deinterlace ! videoconvert -->
    <param name="gscam_config" value="decklinkvideosrc connection=$(arg connection) device-number=$(arg device) ! deinterlace ! videocrop top=$(arg crop_top) left=$(arg crop_left) right=$(arg crop_right) bottom=$(arg crop_bottom) ! videoconvert "/>
    <param name="frame_id" value="/decklink_frame"/>
    <!-- This needs to be set to false to avoid dropping tons of frames -->
    <param name="sync_sink" value="false"/>
    <remap from="decklink/image_raw" to="image_raw"/>
  </node>

  <node name="$(arg camera_name)_decklink_transform" pkg="tf" type="static_transform_publisher" args="1 2 3 0 -3.141 0 /world /decklink_frame 10"/>
</launch>
